In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline


import os
for dirname, _, filenames in os.walk('wind_data.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [14]:
df = pd.read_csv('wind_data.csv')
df.head()

    WIND  IND  RAIN  IND.1  T.MAX  IND.2  T.MIN  T.MIN.G  month
0  13.67    0   0.2      0    9.5      0    3.7     -1.0      1
1  11.50    0   5.1      0    7.2      0    4.2      1.1      1
2  11.25    0   0.4      0    5.5      0    0.5     -0.5      1
3   8.63    0   0.2      0    5.6      0    0.4     -3.2      1
4  11.92    0  10.4      0    7.2      1   -1.5     -7.5      1

In [15]:
df.shape

(6498, 9)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6498 entries, 0 to 6497
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   WIND     6498 non-null   float64
 1   IND      6498 non-null   int64
 2   RAIN     6498 non-null   float64
 3   IND.1    6498 non-null   int64
 4   T.MAX    6498 non-null   float64
 5   IND.2    6498 non-null   int64
 6   T.MIN    6498 non-null   float64
 7   T.MIN.G  6498 non-null   float64
 8   month    6498 non-null   int64
dtypes: float64(5), int64(4)
memory usage: 457.0 KB

In [17]:
round(df.describe() , 3)

,WIND,IND,RAIN,IND.1,T.MAX,IND.2,T.MIN,T.MIN.G,month
count,6498.000,6498.000,6498.000,6498.00,6498.000,6498.000,6498.000,6498.000,6498.000
mean,9.615,0.394,1.857,0.35,13.068,0.458,6.697,2.869,6.529
std,4.709,1.182,3.939,1.12,4.751,1.170,4.467,5.453,3.434
min,0.000,0.000,0.000,0.00,-0.100,0.000,-11.500,-14.400,1.000
25%,5.960,0.000,0.000,0.00,10.000,0.000,3.500,-0.900,4.000
50%,9.130,0.000,0.200,0.00,12.500,0.000,7.300,3.400,7.000
75%,12.790,0.000,2.000,0.00,16.900,0.000,9.600,6.700,10.000
max,22.950,4.000,67.000,4.00,26.800,4.000,18.000,15.800,12.000

In [18]:
df.isnull().sum()

WIND       0
IND        0
RAIN       0
IND.1      0
T.MAX      0
IND.2      0
T.MIN      0
T.MIN.G    0
month      0
dtype: int64

In [19]:
X = df.drop('WIND',axis =1)
y = df["WIND"]

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=0 ,shuffle=False)

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
reg =LinearRegression()
reg.fit(X_train.values,y_train.values)
predict = reg.predict(X_test.values)
print('MAE:', metrics.mean_absolute_error(y_test, predict))
print('MSE:', metrics.mean_squared_error(y_test, predict))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predict)))

MAE: 3.5228008136005338
MSE: 19.32029328600457
RMSE: 4.395485557478783

In [22]:
# New Input
ind =0
rain =10.4
ind1 =0.0
tmax1 =7.2
ind2 =1.0
tmin =-1.5
tming =-7.5
month =1

In [23]:
x_input =pd.DataFrame(np.array([[ind,rain,ind1,tmax1,ind2,tmin,tming,month]]))  
pred=float(reg.predict(x_input))
pred
print(f"Predicted Wind Speed for the given data is: {pred}")

Predicted Wind Speed for the given data is: 10.48046066163388